@import "_normalize";
@import "_skeleton";

.container {
    max-width: 800px;
}

.content {
    top: 50%;
    position: relative;
    padding: 20px 0;
    background-color: white;
}

$distance: -0.9;
$perspective: 1;
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    overflow-y: auto;
    perspective: $perspective * 1px;
    -webkit-overflow-scrolling: touch;
    transform-style: preserve-3d;
}
header {
    background: url('/images/header.jpg') no-repeat 0% 200%;
    background-size: cover;
    position: absolute;
    top: -20%;
    padding-top: 15%;
    width: 100%;
    height: 60%;
    text-align: center;
    transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));
    z-index: $distance * 1000;
}

small {
    font-size: 80%;
    color: #999;
}

.navbar {
    position: fixed;

    h6 {
        padding-left: 20px;
    }

    #menu-btn {
        display: none;
    }

    form {
        margin: 0;
    }

    input[type="search"] {
        border: none;
        border-radius: 0;

        padding: 0 0 0 20px;
        margin: 0;
        height: 6.5rem;

        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;

        &:focus {
            border: none;
        }
    }
}

// Menu button

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  top: 3px;
  right: 0px;
  position: absolute;
  user-select: none;
}
 
.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.menu-icon .navicon:before {
  top: 5px;
}
 
.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn:checked ~ .navbar-list {
  transition: max-height .3s ease-out;
  max-height: 240px;
}
 
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Navbar */
.navbar + .docs-section {
border-top-width: 0; }
.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
border-bottom: 1px solid #eee; }
.navbar-spacer {
display: none; }
.navbar > .container {
    width: 100%;
    padding: 0;
}

.navbar-list {
    background-color: white;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    margin-bottom: 0;
    transition: max-height .3s ease-out;
}

.navbar-item {
    position: relative;
    margin-bottom: 0; 
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-list .navbar-link {
    display: block;
    padding-left: 20px;

    &:hover {
        background-color: #F4F4F4;
    }
}

.u-pull-right > .navbar-link {
    margin-left: 35px;
    margin-right: 0;
}
.navbar-link.active {
color: #33C3F0; }
.has-docked-nav .navbar {
    position: fixed;
    top: 0;
left: 0; }
.has-docked-nav .navbar-spacer {
display: block; }
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
width: 80%; }

/* Larger than phone */
@media (min-width: 550px) {
    .menu-icon {
        display: none;
    }
    .navbar-list {
        max-height: none;
        clear: none;
        float: right;
    }
    .navbar-item {
        display: inline-block;
        float: left;
        padding-left: 0;
    }
    .navbar-link {
        margin-right: 35px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Blog */

h3 {
    margin-bottom: 0;

    a {
        color: #222;
        text-decoration: none;
    }
}

article {
    figure {
        margin: 0;
    }

    blockquote {
        margin: 0;
        padding-left: 1rem;
        border-left: 5px solid #EEE;
    }
}

.post-date {
    color: #999;
    margin-bottom: 2rem;
}

.photo {
    img {
        width: 100%;
        height: auto;
    }
}

footer {
    border-top: 1px solid #EEE;

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}

